<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title></title>
    </head>
    <style>
        *{
            padding: 0px;
            margin:0px;
        }
    </style>
    <body style="background-color:burlywood;">
        <div id="userinfo">
            <label>昵称:</label><label>{{userInfo.userName}}</label><br/>
            <label for="">姓名:</label><label for="">{{userInfo.name}}</label><br/>
            <label for="">学院:</label><label for="">{{userInfo.major}}</label><br/>
            <label for="">学号:</label><label for="">{{userInfo.userNum}}</label><br/>
        </div>
        <div>
            
        </div>
    </body>
</html>