<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>密码找回系统</title>
    </head>
    <body>
        <div style="background: url(/static/image/library.jpg);background-size: cover;height: 580px;margin-top: 0px;">
            <div style="position:absolute;height: 20px;width: 200px; margin-top:130px; margin-left: 500px; text-align: center;"><span id="msg">{{msg}}</span></div>
            <div style="margin-top: 0px;height: 40px;margin-left: 4px;">
                <div style="float: left;">
                    <img src="/static/image/logo.jpg" style="width:40px;height: 40px;margin-top: 3px;" alt="logo">
                </div>
                <div stle="float: left;">
                    <p style="font-size: 30px;margin-top: 0px;">振华自习室预约服务管理平台</p>
                </div>
            </div>
            <form class="form1" name="register1" id="register1" action="/user/repass" method="POST" style="margin-top: 60px;margin-left: 250px;">
                <label>昵称</label>
                <input type="text" name="uName" id="uName" minlength="1" maxlength="16" required="required"/>
                <br/>
                <label>姓名</label>
                <input type="text" name="name" id="name" required="required"/>
                <br/>
                <label>手机</label>
                <input type="text" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d]/g,'')" name="phone" id="phone" maxlength="11" required="required" onblur="checkPhone()"/>
                <label id="phoneprompt"></label>
                <br/>
                <div style="margin-left: 210px; margin-top: 10px;">
                    <input type="submit" name="register" value="密码找回" style="font-weight: bolder; font-size: 18px;"/>
                </div>
            </form>
        </div>
        <script>
            function checkPhone(){
		        var theinput=document.getElementById("phone").value;
		        var p1=/^(13[0-9]\d{8}|15[0-35-9]\d{8}|18[0-9]\{8}|14[57]\d{8})$/;
			    if(p1.test(theinput)==false) {		
                    document.getElementById("phoneprompt").innerHTML="请输入正确的手机号";
		            document.getElementById("phone").value="";
                }
                else{
                    document.getElementById("phoneprompt").innerHTML="";
                }
            }
        </script>
    </body>
</html>